@font-face {
  font-family: 'tourism-eighteenth';
  src:  url('fonts/tourism-eighteenth.eot?pkc8wj');
  src:  url('fonts/tourism-eighteenth.eot?pkc8wj#iefix') format('embedded-opentype'),
    url('fonts/tourism-eighteenth.ttf?pkc8wj') format('truetype'),
    url('fonts/tourism-eighteenth.woff?pkc8wj') format('woff'),
    url('fonts/tourism-eighteenth.svg?pkc8wj#tourism-eighteenth') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tourism-eighteenth' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aircraft:before {
  content: "\e900";
}
.icon-ankhor:before {
  content: "\e901";
}
.icon-antenna:before {
  content: "\e902";
}
.icon-appliances:before {
  content: "\e903";
}
.icon-arm:before {
  content: "\e904";
}
.icon-arm-2:before {
  content: "\e905";
}
.icon-AZS:before {
  content: "\e906";
}
.icon-backpack:before {
  content: "\e907";
}
.icon-bag:before {
  content: "\e908";
}
.icon-bag-2:before {
  content: "\e909";
}
.icon-bag-3:before {
  content: "\e90a";
}
.icon-bbc:before {
  content: "\e90b";
}
.icon-bed:before {
  content: "\e90c";
}
.icon-bed-2:before {
  content: "\e90d";
}
.icon-bicycle:before {
  content: "\e90e";
}
.icon-bus:before {
  content: "\e90f";
}
.icon-calendar:before {
  content: "\e910";
}
.icon-calendar-2:before {
  content: "\e911";
}
.icon-cam:before {
  content: "\e912";
}
.icon-car:before {
  content: "\e913";
}
.icon-cards:before {
  content: "\e914";
}
.icon-clock:before {
  content: "\e915";
}
.icon-clock-2:before {
  content: "\e916";
}
.icon-cloud:before {
  content: "\e917";
}
.icon-cloud-2:before {
  content: "\e918";
}
.icon-coins:before {
  content: "\e919";
}
.icon-column:before {
  content: "\e91a";
}
.icon-compass:before {
  content: "\e91b";
}
.icon-dolphin:before {
  content: "\e91c";
}
.icon-earth:before {
  content: "\e91d";
}
.icon-eye:before {
  content: "\e91e";
}
.icon-files:before {
  content: "\e91f";
}
.icon-fire:before {
  content: "\e920";
}
.icon-fish:before {
  content: "\e921";
}
.icon-flag:before {
  content: "\e922";
}
.icon-flag-2:before {
  content: "\e923";
}
.icon-flip-flops:before {
  content: "\e924";
}
.icon-food:before {
  content: "\e925";
}
.icon-funicular:before {
  content: "\e926";
}
.icon-furcula:before {
  content: "\e927";
}
.icon-glasses:before {
  content: "\e928";
}
.icon-globe:before {
  content: "\e929";
}
.icon-helm:before {
  content: "\e92a";
}
.icon-hotel:before {
  content: "\e92b";
}
.icon-house:before {
  content: "\e92c";
}
.icon-i:before {
  content: "\e92d";
}
.icon-ice-cream:before {
  content: "\e92e";
}
.icon-image:before {
  content: "\e92f";
}
.icon-jingle:before {
  content: "\e930";
}
.icon-key:before {
  content: "\e931";
}
.icon-label:before {
  content: "\e932";
}
.icon-Lifebuoy:before {
  content: "\e933";
}
.icon-lighthouse:before {
  content: "\e934";
}
.icon-man:before {
  content: "\e935";
}
.icon-man-2:before {
  content: "\e936";
}
.icon-man-3:before {
  content: "\e937";
}
.icon-man-4:before {
  content: "\e938";
}
.icon-map:before {
  content: "\e939";
}
.icon-marker:before {
  content: "\e93a";
}
.icon-mask:before {
  content: "\e93b";
}
.icon-MD:before {
  content: "\e93c";
}
.icon-medicine-chest:before {
  content: "\e93d";
}
.icon-money:before {
  content: "\e93e";
}
.icon-month:before {
  content: "\e93f";
}
.icon-mouthpiece:before {
  content: "\e940";
}
.icon-no-smoke:before {
  content: "\e941";
}
.icon-note:before {
  content: "\e942";
}
.icon-notice:before {
  content: "\e943";
}
.icon-not-photographs:before {
  content: "\e944";
}
.icon-palms:before {
  content: "\e945";
}
.icon-parking:before {
  content: "\e946";
}
.icon-passport:before {
  content: "\e947";
}
.icon-people:before {
  content: "\e948";
}
.icon-phone:before {
  content: "\e949";
}
.icon-phone-2:before {
  content: "\e94a";
}
.icon-phone-3:before {
  content: "\e94b";
}
.icon-photo-cam:before {
  content: "\e94c";
}
.icon-pointer:before {
  content: "\e94d";
}
.icon-pool:before {
  content: "\e94e";
}
.icon-search:before {
  content: "\e94f";
}
.icon-shower:before {
  content: "\e950";
}
.icon-sleigh:before {
  content: "\e951";
}
.icon-sos:before {
  content: "\e952";
}
.icon-stall:before {
  content: "\e953";
}
.icon-steamship:before {
  content: "\e954";
}
.icon-swim:before {
  content: "\e955";
}
.icon-tea:before {
  content: "\e956";
}
.icon-tent:before {
  content: "\e957";
}
.icon-the-sun:before {
  content: "\e958";
}
.icon-think:before {
  content: "\e959";
}
.icon-ticket:before {
  content: "\e95a";
}
.icon-trak:before {
  content: "\e95b";
}
.icon-tram:before {
  content: "\e95c";
}
.icon-TV:before {
  content: "\e95d";
}
.icon-umbrella:before {
  content: "\e95e";
}
.icon-umbrella-2:before {
  content: "\e95f";
}
.icon-wheel:before {
  content: "\e960";
}
.icon-wineglass:before {
  content: "\e961";
}
.icon-wineglass-2:before {
  content: "\e962";
}
.icon-yacht:before {
  content: "\e963";
}

